
@{
    ViewBag.Title = "PartialAddCategory";
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Kategori Ekleme Penceresi</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="KategoriAd">Kategori Adı</label>
            <input class="form-control" data-val="true" id="newCategoryName" name="newCategoryName" type="text" value="">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="AddCategory()">Ekle</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="Open()">Kapat</button>
        </div>
    </div>
</div>

<script>

    function Open() {
        $("#productList").html('');
    }



</script>