@using Entities.Concrete;
@model IEnumerable<Category>


<h4>#Ürünleri Listele</h4>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
        </tr>

    }

</table>
